* {
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181826;
    color: #ffffff;
}

.app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: #2a2a3c;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 10;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.app-bar .logo {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.app-bar .title {
    font-size: 24px;
    font-family: 'Crackman', serif;
    flex: 1;
    text-align: center;
    margin-right: 60px;
    color: #AF69EE;
}

.app-bar .menu-btn {
    position: absolute;
    right: 20px;
    color: #ffffff;
    font-size: 18px;
}

.content {
    margin: 8vh 0 10vh 0;
    background-color: #1e1e2e;
    border-radius: 45px 45px 0 0;
    padding: 20px;
    min-height: calc(75vh);
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #2a2a3c;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.nav-item {
    text-align: center;
    color: #ccc;
    flex: 1;
}

.nav-item.active {
    color: #AF69EE;
}

.nav-icon {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    font-family: 'Material Icons';
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #2a2a3c;
    border: 1px solid #444;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

#tab-freerooms input[type="date"],
#tab-freerooms input[type="time"] {
    text-align: center;
}

@media screen and (max-width: 480px) {
    #tab-freerooms input[type="date"],
    #tab-freerooms input[type="time"] {
        width: 90%;
        float: center;
        margin: 10px 0;
    }

    input[type="date"], input[type="time"] {
        width: 90%;
        float: center;
        margin-right: 4%;
    }

    input[type="time"] {
        float: center;
        margin-right: 0;
    }

    .form-container::after {
        content: "";
        display: table;
        clear: both;
    }
}

input:focus {
    outline: none;
    border-color: #AF69EE;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #AF69EE;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #9a5ad6;
}

#language-select {
    width: 100%;
    padding: 15px;
    background-color: #AF69EE;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

#language-select:hover {
    background-color: #9a5ad6;
}

.class-list {
    display: none;
}

.class-item {
    background-color: #2a2a3c;
    margin: 10px 0;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #444;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}

.modal-content {
    background-color: #2a2a3c;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    max-width: 400px;
}
